{% extends 'nav.html' %}
{% block side %}
<h4 class="bg-info text-center">Change password</h4>
{% if messages %}
        
{% for i in messages %}

 {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
 <div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>success!!</strong>REGISTRATION SUCCESSFULL
  {{i}}
 </div>
 {%endif%}
 {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
 <div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>success!!</strong>REGISTRATION FAILED

  {{i}}
 </div>

 {%endif%}
 {%endfor%}
 {%endif%}
 
        <form action=""  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{form.as_table}}
                <tr>
                    <td colspan="2" class="text-center">
                        <button class="btn btn-info">Change Password</button>
                    </td>
                </tr>
            </table>
        </form>  
         
{% endblock %}